.jumbo {
  margin-top: -25px;
  background: #2193b0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding-bottom: 2.0em !important;
  padding-top: 2.0em !important;
  border-radius: 0px !important;
}
.heading-jumbo {
  font-size: 1.5em;
  color: #ffffff;
}
.desc-jumbo {
  color: #366887;
  padding: 0px;
}